{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid bg-secondary text-center m-0 pb-5 pt-5 d-flex flex-column align-items-center justify-content-center head-body"  >
    <h1>Ferramentas online para os amantes de PDF</h1>
    <p>
        Desfrute de uma variedade de ferramentas online gratuitas para manipular seus arquivos PDF sem a necessidade de instalação. Essas ferramentas permitem que você junte vários arquivos PDF em um só, divida um PDF em várias partes, comprima o tamanho de um PDF, converta documentos do Office para PDF, transforme PDFs em imagens JPG e converta imagens JPG em PDF. Tudo isso de forma rápida e fácil. Aproveite essas opções versáteis e convenientes para lidar com seus arquivos PDF!
    </p>
</div>

{% endblock %}
